{"swagger":"2.0","info":{"title":"PlantIdV2","description":"","version":"1.0"},"host":"api.plant.id","basePath":"/v2","schemes":["https"],"consumes":[],"produces":[],"paths":{"/identify":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"custom_id":{"type":"string","description":"custom_id"},"meta_data":{"type":"object","properties":{"latitude":{"type":"string","description":"latitude"},"longitude":{"type":"string","description":"longitude"},"date":{"type":"string","description":"date"},"datetime":{"type":"string","description":"datetime"}},"description":"meta_data"},"uploaded_datetime":{"type":"number","format":"float","description":"uploaded_datetime"},"finished_datetime":{"type":"number","format":"float","description":"finished_datetime"},"images":{"type":"array","items":{"type":"object","properties":{"file_name":{"type":"string","description":"file_name"},"url":{"type":"string","description":"url"}}},"description":"images"},"suggestions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"plant_name":{"type":"string","description":"plant_name"},"plant_details":{"type":"object","properties":{"common_names":{"type":"array","items":{"type":"string"},"description":"common_names"},"url":{"type":"string","description":"url"},"edible_parts":{"type":"string","description":"edible_parts"},"propagation_methods":{"type":"string","description":"propagation_methods"},"wiki_description":{"type":"object","properties":{"value":{"type":"string","description":"value"},"citation":{"type":"string","description":"citation"},"license_name":{"type":"string","description":"license_name"},"license_url":{"type":"string","description":"license_url"}},"description":"wiki_description"},"taxonomy":{"type":"object","properties":{"class":{"type":"string","description":"class"},"family":{"type":"string","description":"family"},"genus":{"type":"string","description":"genus"},"kingdom":{"type":"string","description":"kingdom"},"order":{"type":"string","description":"order"},"phylum":{"type":"string","description":"phylum"}},"description":"taxonomy"},"scientific_name":{"type":"string","description":"scientific_name"},"structured_name":{"type":"object","properties":{"genus":{"type":"string","description":"genus"},"species":{"type":"string","description":"species"}},"description":"structured_name"}},"description":"plant_details"},"probability":{"type":"number","format":"float","description":"probability"},"confirmed":{"type":"boolean","description":"confirmed"},"similar_images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"similarity":{"type":"number","format":"float","description":"similarity"},"url":{"type":"string","description":"url"},"url_small":{"type":"string","description":"url_small"}}},"description":"similar_images"}}},"description":"suggestions"},"modifiers":{"type":"array","items":{"type":"string"},"description":"modifiers"},"secret":{"type":"string","description":"secret"},"fail_cause":{"type":"string","description":"fail_cause"},"countable":{"type":"boolean","description":"countable"},"feedback":{"type":"string","description":"feedback"},"is_plant_probability":{"type":"number","format":"float","description":"is_plant_probability"},"is_plant":{"type":"boolean","description":"is_plant"}}},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Identify Plant","operationId":"Identify","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"Api-Key","in":"header","required":true,"type":"string","default":"jYBoMpbhZdnPJcaNgE0trZrQ5A0dCPy98WbrrkEWYUmtbBL4ZV","x-ms-visibility":"internal"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"images":{"type":"array","items":{"type":"string","title":""},"description":"images"},"modifiers":{"type":"array","items":{"type":"string","title":""},"description":"modifiers"},"plant_details":{"type":"array","items":{"type":"string","title":""},"description":"plant_details"}}}}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}